@model moment2_mvc.Models.RecipeModel

@{
    ViewData["Title"] = "Visar enskilt recept";
}

<div class="left">
    <h2>@Model.Title</h2>

    <div class="single-rec">
        <p><strong>Kategori:</strong> @Model.Category</p>

        <p><strong>Svårighetsgrad:</strong> @Model.Difficulty</p>

        <p><strong>Vegetarisk:</strong> @Model.IsVegetarian</p>

        <p><strong>Ingredienser:</strong> @Model.Ingredients</p>

        <p><strong>Instruktioner:</strong> @Model.Instructions</p>
    </div>


    <p><a href="@Url.Action("All", "Recipe")">Tillbaka till alla recept</a></p>
</div>

<aside>
    <partial name="_LatestRecipesPartial" model="@ViewBag.AllRecipes" />
</aside>
